<div class="row gx-0"> 
  <div class="bg-secondary col-sm-6 offset-sm-3 boarder w-50">
    <div class="text-center text-white">レビュー投稿</div>
  </div>
</div>
  <%= render 'reviews/form', game: @game,review: @review %>

