<footer class="mt-5">
  <nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container-fluid ps-5 pe-5">
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item"><%= link_to 'ゲーム登録', new_game_path, class: 'nav-link' %></li>
          <li class="nav-item"><a class="nav-link">@hida ryosuke</a></li>
        </ul>
      </div>
    </div>
  </nav>
</footer>